table {
    display: inline-block;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }

  .credentials{
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
  }

