*{
  margin: 0px;
  padding: 0px;
 }
body{
  background-image: url("https://images.pexels.com/photos/158771/notebook-pen-table-blank-158771.jpeg");
  background-size: 100%;
}
table {
    display: inline-block;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }

  .credentials{
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
  }

#quick_wrapper{
  display:block;
  width:auto;
  background-color: teal;
  padding: 20px;
  margin:20px;
  border: 7px solid black;
  border-radius: 4px;

}

div{
  background-color: white;
 
  

}

.wishlists {
padding:18px;
}

.wishlists *{

  padding:5px;

}
#logout{
  background-color: white;
  padding: 10px;
  display: inline-block;
  
}

.display_and_create{
  width:auto;
  border: 7px solid black;
  border-radius: 4px;
  display: inline-block;
  padding: 20px;
}